<%
locals.title = campaign.campaign_owner.user_name + "'s " + campaign.items[0].item_name + "Campaign - Giffon";
bodyClasses.push("page-campaign");
%>
<%- include('head'); -%>

<div class="container">
    <h1><a href="/user/<%=campaign.campaign_owner.user_hashid%>"><%=campaign.campaign_owner.user_name%></a> wants</h1>
    <% campaign.items.forEach(function(item) { %>
        <div class="item">
            <div class="item-name"><%=item.item_name%></div>
            <img class="item-screenshot" alt="<%=item.item_name%>" src="<%=item.item_url_screenshot%>">
        </div>
    <% }); %>
    <div class="campaign-description"><%=campaign.campaign_description%></div>

    <form action="/campaign/<%=campaign.campaign_hashid%>/pledge" method="POST">
        <input type="submit" />
    </form>
</div>

<%- include('foot'); -%>