<%
locals.title = campaign.campaign_owner.user_name + "'s " + campaign.items[0].item_name + " Campaign - Giffon";
bodyClasses.push("page-campaign");
%>
<%- include('head'); -%>

<div class="container">
    <h1><a href="/user/<%=campaign.campaign_owner.user_hashid%>"><%=campaign.campaign_owner.user_name%></a> wants</h1>
    <% campaign.items.forEach(function(item) { %>
        <div class="item">
            <div class="item-name"><%=item.item_name%></div>
            <img class="item-screenshot" alt="<%=item.item_name%>" src="<%=item.item_url_screenshot%>">
        </div>
    <% }); %>
    <div>Total (USD): <span class="campaign-total" title="<%=campaign.campaign_total_needed.breakdown%>"><%=campaign.campaign_total_needed.amount%></span></div>
    <div class="campaign-description"><%=campaign.campaign_description%></div>

    <%- include('campaign-progressbar', {campaign}); -%>

    <% if (locals.user != null && user.id != campaign.campaign_owner.id) { %>
        <div class='user-pledge <%= user_total_pledge != null ? "has-user-pledge-some" : "has-user-pledge-none" %>'>
            <% if (user_total_pledge != null) { %>
                <div class="current-user-pledge">
                    <p>Currently you've pledged (USD): <%=user_total_pledge%></p>
                </div>
                <button class="btn btn-sm btn-outline-primary add-pledge">Add Pledge</button>
            <% } %>
            <form action="/campaign/<%=campaign.campaign_hashid%>/pledge" method="POST" enctype="application/x-www-form-urlencoded" class="add-pledge needs-validation" novalidate>
                <fieldset <%= user.user_has_card ? "" : "disabled" %>>
                    <% if (!user.user_has_card) { %>
                        <div class="alert alert-danger" role="alert">
                            You have not configured a payment method. <a href="/cards">Set it up</a> in order to pledge.
                        </div>
                    <% } %>

                    <% if (user_total_pledge != null) { %>
                        <p>How much do you want to add?</p>
                    <% } else { %>
                        <p>How much are you willing to contribute towards buying <%= campaign.items.length > 1 ? "those" : "that" %> for <%=campaign.campaign_owner.user_name%>?</p>
                    <% } %>
                    <div class="form-row justify-content-start">
                        <label for="pledge_amount" class="col-sm-3">Amount (USD)</label>
                        <input class="form-control col-sm-3" id="pledge_amount" name="pledge_amount" type="number" min="1" step="0.01" max="<%=campaign.campaign_total_needed.amount%>" required>
                    </div>
                    <div>
                        <p>You will only be charged when the campaign ends.</p>
                    </div>
                    <div class="form-row">
                        <button type="submit" class="btn btn-primary">Pledge</button>
                        <input type="hidden" required />
                    </div>
                </fieldset>
            </form>
            <script>
                // Example starter JavaScript for disabling form submissions if there are invalid fields
                (function() {
                    'use strict';
                    window.addEventListener('load', function() {
                        // Fetch all the forms we want to apply custom Bootstrap validation styles to
                        var forms = document.getElementsByClassName('needs-validation');
                        // Loop over them and prevent submission
                        var validation = Array.prototype.filter.call(forms, function(form) {
                            form.addEventListener('submit', function(event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                            }, false);
                        });
                    }, false);
                })();
            </script>
        </div>
    <% } %>
</div>

<%- include('foot'); -%>