<%
locals.title = "Home - Giffon";
bodyClasses.push("page-home");
%>
<%- include('head'); -%>

<div class="container">
    <h1>Welcome, <%= user.user_name %>!</h1>

    <p><a href="/user/<%=user.user_hashid%>">public profile</a></p>

    <div>
        <h2>Your campaigns</h2>
    <% if (campaigns.length == 0) { %>
        <p>You don't have any Giffon campaign yet.</p>
        <p><a href="/create-campaign">Make a wish.</a></p>
    <% } else { %>
        Your current <%= campaigns.length == 1 ? "campaign" : "campaigns" %>:
        <% campaigns.forEach(function(campaign) { %>
            <div class="campaign shadow">
                <% campaign.items.forEach(function(item) { %>
                    <div class="item">
                        <div class="item-name"><%=item.item_name%></div>
                        <img class="item-screenshot" alt="<%=item.item_name%>" src="<%=item.item_url_screenshot%>">
                    </div>
                <% }); %>
                <div class="campaign-description"><%=campaign.campaign_description%></div>
                <%- include('campaign-progressbar', {campaign}); -%>
                <a href="/campaign/<%=campaign.campaign_hashid%>">detail</a>
            </div>
        <% }); %>
    <% } %>
    </div>
    <div>
        <h2>Settings</h2>
        <p><a href="/cards">payment method</a></p>
    </div>
</div>

<%- include('foot'); -%>