<%
locals.title = "Sign in - Giffon";
bodyClasses.push("page-signin");
%>
<%- include('head'); -%>

<div class="h-100 w-100 d-flex flex-column align-items-center justify-content-center">
    <div id="message"></div>
    <div>
        <% if (locals.user == null) { %>
            <a href="/signin" class="signInBtn">Sign in with Facebook<i class="fab fa-facebook"></i></a>
        <% } else { %>
            <p>You've signed in as <a class="user-name" href="/user/<%=user.user_hashid%>"><%= user.user_name %></a>.</p>
            <p><a href="/signout" class="signOutBtn">Sign out</a></p>
        <% } %>

        <img class="loading" src="<%=R("/images/Ball-1s-200px.svg")%>" alt="loading">
    </div>
</div>

<%- include('foot'); -%>