<%
locals.title = user.user_name + " - Giffon";
bodyClasses.push("page-user");
%>
<%- include('head'); -%>

<div class="container">
    <h1><%= user.user_name %></h1>

    <div>
    <% if (wishes.length == 0) { %>
        <p><%= user.user_name %> doesn't have any Giffon wish yet.</p>
    <% } else { %>
        Current <%= wishes.length == 1 ? "wish" : "wishes" %>:
        <% wishes.forEach(function(wish) { %>
            <div class="wish shadow">
                <% wish.items.forEach(function(item) { %>
                    <div class="item">
                        <div class="item-name"><%=item.item_name%></div>
                        <img class="item-screenshot" alt="<%=item.item_name%>" src="<%=item.item_url_screenshot%>">
                    </div>
                <% }); %>
                <div class="wish-description"><%=wish.wish_description%></div>
                <%- include('wish-progressbar', {wish}); -%>
                <a href="/wish/<%=wish.wish_hashid%>">detail</a>
            </div>
        <% }); %>
    <% } %>
    </div>
</div>

<%- include('foot'); -%>