<%
locals.title = user.name + " - Giffon";
bodyClasses.push("page-home");
%>
<%- include('head'); -%>

<div class="container">
    <h1><%= user.name %></h1>

    <div>
    <% if (campaigns.length == 0) { %>
        <p><%= user.name %> doesn't have any Giffon campaign yet.</p>
    <% } else { %>
        Current <%= campaigns.length == 1 ? "campaign" : "campaigns" %>:
        <% campaigns.forEach(function(campaign) { %>
            <div class="campaign">
                <div class="campaign-description"><%=campaign.campaign_description%></div>
                <% campaign.items.forEach(function(item) { %>
                    <div class="item">
                        <div class="item-name"><%=item.item_name%></div>
                        <img class="item-screenshot" alt="<%=item.item_name%>" src="<%=item.item_url_screenshot%>">
                    </div>
                <% }); %>
            </div>
        <% }); %>
    <% } %>
    </div>
</div>

<footer class="p-5 text-center">
Copyright &copy; Giffon. All Rights Reserved.
</footer>

<%- include('foot'); -%>